* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.header form {
  display: flex;
  align-items: baseline;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  border: 1px solid black;
}

#trybewarts-forms-logo {
  height: 500px;
}

.nome .casa {
  display: flex;
}

.block {
  margin-left: 10px;
}
