@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IBM Plex Sans Arabic, sans-serif;
}

/* <------- HEADER -------> */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(50, 167, 145);
}

#trybewarts-header-title {
  font-family: Major Mono Display, monospace;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 12px;
  color: rgb(10, 16, 20);
}

#trybewarts-header-title:hover {
  opacity: 0.8;
}

.trybewarts-header-logo {
  width: 3.7vw;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  width: 25%;
}

.trybewarts-login div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header input */
.trybewarts-login input {
  border: 0;
  padding: 0 4px;
  margin-bottom: 4px;
  font-family: IBM Plex Sans Arabic, sans-serif;
  font-size: 0.9rem;
  width: 85%;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

.trybewarts-login input::placeholder {
  color: black;
  background-color: transparent;
  opacity: 0.5;
}

.trybewarts-login button {
  align-self: stretch;
  background: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 4px 18px 8px;
  font-size: 1.2rem;
  border-radius: 12px;
  opacity: 1;
}

.trybewarts-login button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header form {
  display: flex;
  align-items: baseline;
}

/* <------- MAIN -------> */
main {
  display: flex;
  align-items: center;
  font-size: 14px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  padding: 24px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;

  /* box shadow --> https://getcssscan.com/css-box-shadow-examples */
  border-radius: 12px;
  margin: 16px auto;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: auto;
}

/* ---------- MAIN FORMS ---------- */
.nome , .casa {
  display: flex;
  justify-content: space-between;
}

.nome input {
  width: 49%;
}

.casa #house {
  width: 25%;
}

.casa #input-email {
  width: 73%;
}

.bolder {
  font-size: 1.1rem;
  font-weight: 600;
}

#textarea {
  resize: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  text-align: justify;
}

#counter {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}

/* <------- FOOTER -------> */
footer {
  text-align: center;
  background-color: rgb(50, 167, 145);
}

footer span {
  font-family: Major Mono Display, monospace;
  margin: 0 12px 12px 0;
  color: rgb(10, 16, 20);
  font-weight: 600;
  letter-spacing: 12px;
}
